<div class="container">
  <h1>Country</h1>

  <h1>Summary</h1>
  <div class="cards d-flex justify-content-between align-items-center my-4">
    <div class="card d-flex flex-column justify-content-between align-items-center">
      <h4>Total Revenue</h4>
      <p><%= number_to_human @total_revenue %>€</p>
    </div>
    <div class="card d-flex flex-column justify-content-between align-items-center">
      <h4>Avg. Revenue / order</h4>
      <p><%= number_to_human @average_by_order %>€</p>
    </div>
    <div class="card d-flex flex-column justify-content-between align-items-center">
      <h4>Nb. of customers</h4>
      <p><%= number_to_human @customer_count %> customers</p>
    </div>
  </div>
  <h1>Revenue per month</h1>
  <p><%= @revenue_by_month %></p>
</div>
